/* general */

.hidden {
    display: none;
}

/* Contact form */
.contact_form {
    margin-top: 20px;
    font-weight: bold;
      margin-left: 1%;
  }
  
  .contact_form input, textarea  {
    font-size: .8em;
    /* margin-top: 5%; */
    margin-bottom: 5%;
    padding: 10px;
    width: 90%;
    height: 5%;
    background-color: #EDEDED;
    display: block;
    color: black;
    border: #EDEDED;
  }
  
  #message {
    font-size: .8em;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    width: 90%;
    height: 20%;
    background-color: #EDEDED;
    display: block;
    color: black;
  }
  
  #submit {
    font-size: 1em;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 10px;
    width: 19%;
    height: auto;
    display: block;
    color: white;
    border: white;
    font-weight: bold;
    background-color: tomato;
    cursor: pointer;
    border-radius: 25px;
  }
  
  #submit:hover {
      background-color: white;
      color: tomato;
      /* filter:drop-shadow(10px 10px 10px #5C5C5C); */
      transition: all 0.2s ease;
  }